@charset "utf-8";

*{
    margin: 0px;
    height: 0px;
}
body,html{
    height: 100vw;
    width: 100vw;
    background-color: black;
}
body{
    background: url(../pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
main{
    height:100vw;
    position: relative;
}

#smartphone{
    position: absolute;
    height: 620px;
    width: 310px;
    background: url(../pacote-d013/imagens/frame-iphone.png);
    background-size: cover;
    top: 50%;
    left: 50%;

    transform: translate(-50% , -50%);
}